<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado-noticias"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!editable">Agregar noticia</ion-title>
    <ion-title *ngIf="editable">Editar noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col push-sm="2"></ion-col>

      <ion-col size-xs="12" size-sm="8">

        <ion-list>
          <ion-item>
            <ion-label position="floating">Título</ion-label>
            <ion-input [(ngModel)]="noticia.titulo" placeholder="Ingrega un título"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea [(ngModel)]="noticia.descripcion" rows="4" placeholder="Ingresa una descripción">
            </ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contenido</ion-label>
            <ion-textarea [(ngModel)]="noticia.contenido" rows="6" placeholder="Ingresa su contenido"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-datetime [(ngModel)]="noticia.fecha" displayFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Autor</ion-label>
            <ion-select [(ngModel)]="noticia.autorId" Splaceholder="Selecciona el autor" interface="popover">
              <ion-select-option *ngFor="let autor of autores" [value]="autor.autorId">{{autor.nombre}}
                {{autor.apellido}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-row>

            <ion-col push="2"></ion-col>
            <ion-col *ngIf="editable == false" size="4">
              <ion-button (click)="agregarNoticia()" expand="block" fill="outline" shape="round">
                Agregar
              </ion-button>
            </ion-col>
            <ion-col *ngIf="editable == true" size="4">
              <ion-button  (click)="editarNoticia()" expand="block" fill="outline" shape="round">
                Editar
              </ion-button>
            </ion-col>
            <ion-col push="2"></ion-col>

          </ion-row>

        </ion-list>

      </ion-col>

      <ion-col push-sm="2"></ion-col>
    </ion-row>
  </ion-grid>



</ion-content>