<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/listado-noticias"></ion-back-button>
		</ion-buttons>
		<ion-title>Detalle de la noticia</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid fixed>
		<ion-row>
			<ion-col push-md="1"></ion-col>
			<ion-col size-md="10" size-xs="12">
				<ion-card>
					<ion-card-header>
						<ion-card-title>{{noticia.titulo}}</ion-card-title>
						<ion-card-subtitle>{{noticia.descripcion}}</ion-card-subtitle>
						<ion-note>{{noticia.fecha | date}}</ion-note>
					</ion-card-header>
					<ion-card-content>
						{{noticia.contenido}}
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col pushMd="1"></ion-col>
		</ion-row>
	</ion-grid>


</ion-content>